* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    padding: 8px 32px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
}

.four-button {
    border: 2px solid white;
    border-color: white;
    color: white;

}

.header,
.section-one,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    
}

.header-links {
    display: flex;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main-content {

}

.section-one {
    height: 300px;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 36px;
    
}

.one-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    gap: 16px;
}

.one-left-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.one-right {
    background-color: gray;
    flex: 1;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-two {
    display: flex;
    flex-direction: column;
    padding: 16px 48px;
    

}



.two-content {
    display: flex;
    justify-content: space-around;
    
    
}

.two-card {
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    flex-wrap: wrap;
    width: 200px;
}

.card-box {
    border: 2px solid #3882F6;
    border-radius: 12px;
    height: 200px;
    
    

}

.card-text {
    flex-wrap: wrap;
    
}

.two-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-self: center;
}

.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.section-four-box {
    background-color: #3882F6;
    color: white;
    height: 125px;
    width: 800px;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;


}

.footer {
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}