* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 8px 32px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
}

.four-button {
    border: 2px solid white;
    border-color: white;
    

}

.header,
.section-one,
.footer {
    background-color: #1F2937;
}

.header,
.footer {
    padding: 16px 88px;
}

.header {
    display: flex;
    justify-content: space-between;
    
}

.header-links {
    display: flex;
    gap: 24px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.section-one {
    height: 300px;
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 72px 88px;
    gap: 36px;
}

.one-left {
    display: flex;
    flex-direction: column;
    width: 500px;
    flex: 1;
    flex-wrap: wrap;
    gap: 16px;

}

.one-left-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.one-right {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex: 1;
}

.one-right-image {
    background-color: gray;
    height: 250px;
    width: 600px;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-two {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 36px 72px 64px 72px;
}



.two-content {
    flex: 1;
    display: flex;
    padding: 8px;
    justify-content: center;
    gap: 24px;
}

.two-card {
    
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 8px;
    padding: 16px 0;
    max-width: fit-content;
    
}

.card-box {
    border: 2px solid #3882F6;
    border-radius: 12px;
    height: 150px;
    width: 150px;
}

.card-text {
    text-align: center;
    font-size: 18px;
    width: 150px;
}

.two-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-self: center;
}

.section-three {
    background-color: #E5E7EB;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 124px 300px;

}

.citation {
    align-self: flex-end;
    font-weight: bold;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.section-four {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 72px;
}

.section-four-box {
    background-color: #3882F6;
    color: white;
    height: 125px;
    width: 900px;
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;


}

.footer {
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}